<div class="col4">
	<div class="img-thumb-back">
	<%= link_to image_tag(project.image, class: "img-thumb"), project %>

	<table class="prod-overview">
		<tr>
			<th colspan="2">
			<%= link_to truncate(project.name, :length => 30, :separator => ' '), project  %>
			</th>
		</tr>
		<tr>
			<td>Goal:<br><%= display_money(project.goal_in_cents) %></td>
			<td>Raised:<br><%= display_money(total_pledges(project))%></td>
		</tr>
	</table>
	</div>
</div>