<div id="main">
  <div class="frame">
    <div class="col1 main-content" >
      <h1>Edit project details</h1>

      <%= render partial: "project_form", locals: {label_text: "Done"} %>

    </div>
  </div>
</div>