  <div id="main">
    <div class="frame">
      <div class="col1 main-content" >
        <h1>Start a project</h1>

        <%= render partial: "project_form", locals: {label_text: "Next"} %>

      </div>
    </div>
  </div>