<div id="main">
	<div id="projects" class="frame">
		<div class="col1 main-content" >
		<h1>Projects tagged "<%= params[:tag].upcase %>"</h1>
		<%= render @projects %>
		</div>
	</div>
	<div class="frame">
	<%= link_to_function "Back", "history.back()"  %>
	</div>
</div>